.container{
    width: 50%;
    background: white;
    box-shadow: 5px 10px #888888;
    margin-top: 50px;
}
.avatar img{
    width: 100px;
    height: 150px;
    border-radius: 90px;
    padding: 0px 3px;
    margin-top: -50px;

}
.btn{
    background: gray;
    box-shadow: 5px 10px white;

  
}