.container{
    background: rgb(140, 140, 162);
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    padding: 9px ;
    box-shadow: 5px 10px 10px 5px rgb(200, 196, 196);


}
.button{
    padding: 6px 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px rgb(200, 196, 196);


}


form{
  background: rgb(139, 138, 138);
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
  .label{
  display: block;
  font-size: larger;
  color: black;
  padding: 5px;
  }
  
  .input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
  }
  .btn{
  color: white;
  background-color: rgb(194, 180, 180);
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }
  
  .messages{
  display: flex;
  justify-content: center;
  }
  
  .error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }
  
  .success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }
  